.header {
    height: 72px;
    padding: 0.5em 1em;

    display: flex;
    justify-content: space-between;

    &__logo {
        height: 100%;
    }

    &__btns {
        padding: 0;
        margin: 0;
        display: flex;
        width: max-content;
    }
}
