.c {
    position: absolute;
    max-width: 500px;
    max-height: 250px;
    width: 40vw;
    height: 30vh;
    min-width: 400px;
    min-height: 200px;
    cursor: pointer;
    will-change: transform, opacity;
    margin-top: 300px;

    &__text {
        font-size: 2em;
    }
}

.front,
.back {
    background-size: cover;
}

.back {
    background-color: #eaedfc;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.front {
    background-color: #eaedfc;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.carousel {
    &__content {
        min-height: 300px;
    }
}
