// Import the reset file
@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&display=swap');

body {
    text-align: center;
}

* {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-size: 2.5em;
}

.app {
    padding: 0;
    height: 100vh;
}
